asgiref==3.7.2
black==24.1.1
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2023.10
deprecation==2.1.0
Django==5.0.1
django-crispy-forms==2.1
django-email-verification==0.3.3
django-environ==0.11.2
django-mathfilters==1.0.0
iniconfig==2.0.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
PyJWT==2.8.0
pytest==8.0.0
pytest-django==4.8.0
sqlparse==0.4.4
tzdata==2023.4
validators==0.22.0
