{% load static %}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to the Marketplace</title>
    <link rel="stylesheet" href="{% static 'marketplace/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/roboto.css' %}"/>
  </head>

  <body style="font-family: 'Montserrat', sans-serif;">
    <div id="welcome" class="welcome">Welcome to The Marketplace!</div>
    <a href="http://127.0.0.1:8000/shop/"><div id="box1" class="box box1">Shop</div></a>
    <div class="box box2">News</div>
    <div class="box box3">Etc</div>
  </body>

<script src="{% static 'marketplace/js/box-change.js' %}"></script>

</html>