<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:products' %}">
            <i class="fa-solid fa-shop me-2"></i><strong>Marketplace</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <form class="d-flex" action="{% url 'shop:search-products' %}" method="get">
                <div class="input-group">
                    <span class="input-group-text bg-success text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" name="q" placeholder="ex. Samsung" class="form-control border-success" style="color: #7a7a7a">
                    <button class="btn btn-success text-dark" type="submit">Search</button>
                </div>
            </form>
            <ul class="navbar-nav ms-auto">
                {% for category in categories %}
                    {% if not category.children.all %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name|upper }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ category.get_absolute_url }}" id="navbarDropdownMenuLink"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ category.name|upper }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for subcategory in category.children.all %}
                                    {% if not subcategory.children.all %}
                                        <li><a class="dropdown-item" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name|upper }}</a></li>
                                    {% else %}
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name|upper }}</a>
                                            <ul class="dropdown-menu">
                                                {% for subsubcategory in subcategory.children.all %}
                                                    <li><a class="dropdown-item" href="{{ subsubcategory.get_absolute_url }}">{{ subsubcategory.name|upper }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="{% url 'cart:cart-view' %}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                        <span id="lblCartCount" class="badge badge-warning">
                            {% with cart_qty=cart|length %}
                                {% if cart_qty > 0 %}
                                    {{ cart_qty }}
                                {% else %}
                                    0
                                {% endif %}
                            {% endwith %}
                        </span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="{% url 'account:dashboard' %}">
                            <i class="fa-solid fa-circle-user me-1"></i>@{{ user.username }} Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="{% url 'account:logout' %}">
                            <i class="fa-solid fa-circle-user me-1"></i> Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="{% url 'account:register' %}">
                            <i class="fa-solid fa-circle-user me-1"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="{% url 'account:login' %}">
                            <i class="fa-solid fa-circle-user me-1"></i> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
